a {
  text-decoration: none;
  color: black;
}
.center {
  margin: 0 auto;
  width: 80%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  color: white;
  background-color: #141414;
}

.navigation > div:first-child {
  display: flex;
}

.navigation > div:first-child > div,
.navigation > div:last-child
{
  margin: 0 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation > div:last-child > input {
  margin-right: 20px;
  height: 25px;
  outline: none;
}

.banner {
  height: 100vh;
  background: no-repeat;
  display: flex;
  align-items: center;
}

.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(to right, black, transparent);
}

.banner-info {
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}
.card {
  width: 300px;
  height: 200px;
}
.genre-badge {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}
.rating-div {
  display: flex;
  flex-flow: column;
  align-items: baseline;
}
.genre-badge > div,
.rating-badge
{
  background-color: rgb(255, 60, 0);
  margin: 0 2px;
  padding: 0 2px;
  border-radius: 5px;
}

.overlay {
  opacity: 0;
  background: rgba(43, 41, 41, 0.9);
  width: 100%;
  height: 100%;
}

.card:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.movie-detail-page {
  padding-top: 100px;
}

.poster-info-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.poster-info-area > div {
  padding: 0 15px;
  width: 400px;
}

.movie-detail-div-layout {
  border-bottom: 1px solid white;
  padding: 20px 0;
}

.movie-detail-rating-area {
  background-color: cornflowerblue;
  margin-top: 25px;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

